<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primo Esperimento</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>
<body>
    <div>
        <label for="remove">Smonta componente</label>
        <button id="remove" >Rimuovi</button>
    </div>
    <div id="app">
        <h1>Hello World!!</h1>
        <div>{{ message }} 

            <div v-show="error">
                <hr>
                <p :style="{ color: 'red' }">Errore: status già impostato!</p>
            </div>
            <br> 
            <button @click="handleReset" v-if="edit">Reset</button>
        </div>
            <div @click="handleChangeStatusA">
                Change status A

                <!-- Event Modifiers: .stop per fermare la propagazione dell'evento al genitore -->
                <div @click.stop="handleChangeStatusB">
                    Change status B
                </div>
            </div>
            
        <div>
        <div style="margin-top:20px;">
            <label for="firstName">First Name: </label>
            <!-- Binding in 2 direzioni =>
                v-on:input (@input) event listener, 
                v-bind:value (:value) collega un attributo HTML ai dati reattivi 
                ==> v-model: scorciatoia per -->
            <input type="text" id="firstName" v-model="firstName">
            
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" v-model="lastName">
            
        </div>
        <div>
            <h4 class="text-danger">Full Name: {{ fullName }}</h4>
        </div>
        <div class="d-flex">
            <p class="m-2">Hai più di 18 anni?</p>
            <input type="checkbox" v-model="age">
        </div>
        <div>
            <template v-if="age">
                <p :style="{ color: 'green' }">Sei maggiorenne!</p>
            </template>
            <template v-else>
                <p :style="{ color: 'red' }">Sei minorenne!</p>
            </template>
        </div>
        <ul>
            <li v-for="(value, key) in post" :key="key">
                {{ key }}: {{ value }}
            </li>
        </ul>
        <hr><br>
        <ul class="list-group" v-for="post in blog" :key="post.id">
            <li class="list-group-item ">
                <div class="card"  >
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                </div>
            </li>
        </ul>

            
    </div>



    <!-- <script src=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
    </script> -->
</body>
</html>





<script>
   // COMPOSITION API
    const { 
        createApp, 
        ref, 
        watch, 
        computed, 
        reactive, 
        onBeforeMount, 
        onMounted,
        onUpdated,
        onBeforeUnmount,
        onUnmounted 
    } = Vue



    const app = createApp({
        setup() {
            const defMessage = 'Ciao Vue!'
            const message = ref(defMessage)
            const edit = ref(false)
            const firstName = ref('');
            const lastName = ref('');
            const age = ref(false);
            const error = ref(false);

            onBeforeMount(() => {
                console.log('onBeforeMount: il componente sta per essere montato nel DOM')
            });

            onMounted(() => {
                console.log('onMounted: il componente è stato montato nel DOM')
            });

            const post = reactive({ id: 1, 
                title: 'weekend di studio', 
                content: 'sto studiando Vue.js' 
            });

            const blog = ref([
                { id: 1, title: 'studiare Vue.js', content: 'Vue.js è fantastico!' },
                { id: 2, title: 'imparare Vue', content: 'Vue è molto interessante!' },
                { id: 3, title: 'Composition API', content: 'La Composition API è potente e flessibile.' }
            ]);

            const handleChangeStatusA = () => {
                //console.log('Clicked A!')
                if(message.value === "Status changed A!"){
                    error.value = true;
                    //alert();
                    console.log("error: " + error.value)
                    return;
                }
                message.value = "Status changed A!"
            }

            const handleChangeStatusB = () => {
                console.log('Clicked B!')
                message.value = "Status changed B!"
            }

            const handleReset = () => {
                edit.value = false;
                message.value = defMessage;
                
            }

            //monitora lo stato reattivo (es: message)
            watch(message, (message, prevMessage) => {
                console.log(`${prevMessage} => ${message}`)
                if (message !== defMessage) {
                    edit.value = true
                }
            })

            //Proprietà calcolata. Si aggiorna solo se le dipendenze (firstName, lastName) cambiano
            const fullName = computed(() => {
                console.log('Full Name computed property called!')
                return `${firstName.value} ${lastName.value}`;
            })



            return {
                message,
                handleChangeStatusA,
                handleChangeStatusB,
                fullName,
                handleReset,
                edit,
                firstName,
                lastName,
                age,
                post,
                blog,
                error
            }
        }
    })
    
    app.mount('#app')

    const removeApp = () => {
        app.unmount();
    }
    document.getElementById('remove').addEventListener('click', removeApp);
</script>